/**
 *Table 公用样式
 *table元素已经设定了BG和border-collapse属性
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  border: 1px solid #eaeaea;
}
.table thead tr {
  height: 50px;
  background-color: #fcfcfc;
}
.table thead tr th {
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-family: "SimSun";
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #eaeaea;
}
.table tbody tr {
  height: 50px;
  background-color: #fff;
}
.table tbody tr td {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: #333;
  border-bottom: 1px solid #eaeaea;
}
/**
 * table with the solid border
 *具体在学习中心-个人设置-我的订单使用
 *------------------------------------
 */
.table-solid th,
.table-solid td {
  border: 1px solid #eaeaea;
}
.order-content {
  padding: 0 15px;
}
.order-content .information h4 {
  clear: both;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.order-content .information .receive-info,
.order-content .information .check-pay-info-text {
  padding-top: 18px;
}
.order-content .information ul {
  list-style: none;
  margin: 0;
}
.order-content .information ul li {
  float: left;
}
.order-content .information ul .gt-second,
.order-content .information ul .gt-third,
.order-content .information ul .gt-fourth {
  font-family: "Microsoft YaHei";
  font-size: 16px;
}
.order-content .information ul .marTop {
  margin-top: 25px;
}
.order-content .information ul .gt-first {
  float: left;
  width: 60%;
}
.order-content .information ul .gt-second {
  width: 14%;
}
.order-content .information ul .gt-third {
  width: 13%;
}
.order-content .information ul .gt-fourth {
  width: 13%;
}
.order-content .information .check-info {
  padding: 8px 0;
  border: 1px solid #eaeaea;
  font-size: 14px;
}
.order-content .information .check-info .check-table tr {
  line-height: 20px;
}
.order-content .information .check-info .check-table tr td {
  text-align: left;
  padding-left: 10px;
}
.order-content .information .check-info .check-table tr .total-pay {
  color: #e74c3c;
  font-style: normal;
  font-weight: bold;
}
.order-content .information .check-info .check-table tr td:nth-child(1) {
  width: 130px;
  color: #666;
}
.order-content .information .repay-btn-wrapper {
  margin-top: 15px;
  text-align: right;
}
.order-content .information .order-table tbody tr td {
  text-align: left;
  line-height: 20px;
  padding-left: 30px;
  border: 1px solid #eaeaea;
  font-size: 12px;
}
.order-content .information .order-table tbody tr td em {
  color: #e74c3c;
  font-style: normal;
  font-weight: bold;
}
.order-content .information .order-table tbody tr td:nth-child(1) {
  width: 120px;
  padding: 0 35px 0 0;
  color: #666;
  text-align: right;
}
.order-content .information .order-table tbody tr #order-pay .other-status {
  color: #e74c3c;
}
.order-content .information .order-table tbody tr #ot-bold {
  font-family: "Microsoft YaHei";
  color: #e74c3c;
  font-style: normal;
  font-size: 16px;
}
.order-content .goods .order-desc-wrapper {
  border: 1px solid #eaeaea;
}
.order-content .goods .order-desc-wrapper .order-info {
  height: auto;
  overflow: hidden;
  background-color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
}
.order-content .goods .order-desc-wrapper .order-info li {
  padding: 20px 0;
}
.order-content .goods .order-desc-wrapper .order-info .goods-first {
  width: 60%;
  padding-left: 15px;
}
.order-content .goods .order-desc-wrapper .order-info .goods-first .gd-time-desc {
  float: left;
  width: 32%;
}
.order-content .goods .order-desc-wrapper .order-info .goods-first .gd-time-desc div {
  height: auto;
  line-height: 25px;
}
.order-content .goods .order-desc-wrapper .order-info .goods-first .gd-course-desc {
  float: left;
  width: 68%;
  line-height: 25px;
}
.order-content .goods .order-desc-wrapper .order-info .goods-first .gd-course-desc em.lesson {
  padding: 1px 8px;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: top;
  color: #fff;
  background-color: #ffbc3c;
}
.order-content .goods .order-desc-wrapper .order-info .goods-first .gd-course-desc .text {
  vertical-align: top;
}
.order-content .goods .order-desc-wrapper .order-info .goods-second {
  width: 14%;
  text-align: center;
}
.order-content .goods .order-desc-wrapper .order-info .goods-third {
  width: 13%;
  text-align: center;
}
.order-content .goods .order-desc-wrapper .order-info .goods-fourth {
  width: 13%;
  text-align: center;
}
.order-content .goods .order-desc-wrapper .goods-welfare {
  height: auto;
  overflow: hidden;
  background-color: #fff;
  font-size: 14px;
}
.order-content .goods .order-desc-wrapper .goods-welfare li {
  padding: 15px 0;
}
.order-content .goods .order-desc-wrapper .goods-welfare .goods-first {
  width: 60%;
  padding-left: 15px;
}
.order-content .goods .order-desc-wrapper .goods-welfare .goods-first .gd-welfare-content em.welfare {
  padding: 1px 8px;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: top;
  color: #e74c3d;
  border: 1px solid #e74c3d;
}
.order-content .goods .order-desc-wrapper .goods-welfare .goods-first .gd-welfare-content .text {
  vertical-align: top;
}
.order-content .goods .order-desc-wrapper .goods-welfare .goods-second {
  width: 14%;
  text-align: center;
}
.order-content .goods .order-desc-wrapper .goods-welfare .goods-third {
  width: 13%;
  text-align: center;
}
.order-content .goods .order-desc-wrapper .goods-welfare .goods-fourth {
  width: 13%;
  text-align: center;
}
.order-content .goods #goods-ul {
  display: inline-block;
  width: 100%;
  min-width: 800px;
  height: auto;
  overflow: hidden;
}
.order-content .goods #goods-ul .goods-title {
  padding: 15px 0 32px 0;
  border-bottom: 1px solid #eaeaea;
}
.order-content .goods #goods-ul .goods-title li {
  font-size: 12px;
  color: #333;
}
.order-content .goods #goods-ul .sub-title {
  background-color: #f3f3f3;
}
.order-content .goods #goods-ul .goods-content {
  height: auto;
  overflow: hidden;
  background-color: #fff;
  font-size: 14px;
}
.order-content .goods #goods-ul .goods-content li {
  float: left;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left {
  width: 575px;
  border-right: 1px solid #eaeaea;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher {
  width: 100%;
  height: 115px;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .teacher-main {
  float: left;
  overflow: hidden;
  width: 60px;
  height: 90px;
  margin: 20px 15px 0 12px;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .teacher-main .avatar-photo {
  float: left;
  margin-right: 10px;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .teacher-main .avatar-photo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .majar-items {
  position: relative;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .majar-items ul {
  overflow: hidden;
  width: 800px;
  height: 60px;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .majar-items ul li {
  overflow: hidden;
  float: left;
  width: 158px;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .majar-items .avatar-roll {
  position: absolute;
  right: 6px;
  bottom: 4px;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .majar-items .avatar-roll a {
  outline: none;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .majar-items .avatar-roll a em {
  display: inline-block;
  height: 17px;
  line-height: 17px;
  text-align: center;
  text-indent: -9999em;
  vertical-align: top;
  width: 17px;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .majar-items .avatar-roll a .icon-chevron-left {
  background: url('img/icon_chevron_left.png') no-repeat 0 0;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .majar-items .avatar-roll a .icon-chevron-right {
  background: url('img/icon_chevron_right.png') no-repeat 0 0;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .majar-items .avatar-roll a.none .icon-chevron-left {
  background: url('img/icon_chevron_left_none.png') no-repeat 0 0;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher .majar-items .avatar-roll a.none .icon-chevron-right {
  background: url('img/icon_chevron_right_none.png') no-repeat 0 0;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher em {
  float: left;
  margin: 28px 5px 0 0;
  padding: 1px 8px;
  border-radius: 3px;
  font-style: normal;
  color: #fff;
  background-color: #ffbc3c;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher span {
  float: left;
  width: 330px;
  height: 18px;
  margin-top: 27px;
  font-size: 14px;
  overflow: hidden;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .order-teacher p {
  float: left;
  width: 350px;
  height: 18px;
  line-height: 22px;
  font-size: 12px;
  margin: 10px 0 0 -43px;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .ot-first {
  border-bottom: 1px solid #eaeaea;
}
.order-content .goods #goods-ul .goods-content li .ao-operation {
  width: 100px;
}
.order-content .goods #goods-ul .goods-content li .ao-operation span {
  display: inline-block;
  width: 50px;
}
.order-content .goods #goods-ul .goods-content li .ao-operation span a {
  font-size: 12px;
  font-family: "SimSun";
  color: #333;
}
.order-content .goods #goods-ul .goods-content li .ao-operation .btn {
  width: 100px;
  margin-bottom: 12px;
  font-size: 14px;
}
.order-content .settle .btn-danger {
  float: right;
  width: 100px;
  font-size: 14px;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .handwrap {
  height: 80px;
  line-height: 80px;
  font-size: 16px;
  border-top: 1px solid #eaeaea;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .handwrap span.handout {
  float: left;
  width: 400px;
  padding-left: 85px;
}
.order-content .goods #goods-ul .goods-content li .ao-subtitle-left .handwrap span.handout em {
  width: 40px;
  height: 20px;
  line-height: 20px;
  color: #e74c3d;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #e74c3d;
  text-align: center;
  margin-right: 10px;
  display: inline-block;
}
